{% import 'macros/category_macros.html' as category_macros %}
{% import 'macros/product_macros.html' as products_macros %}
{% import 'macros/brand_macros.html' as brand_macros %}
{% import 'macros/footer_macros.html' as footer %}
{% import 'macros/header_macros.html' as header %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% if settings %}
<title>{{ settings.title }}</title>
<meta name="description"
          content="{{ settings.description }}">
<meta name="author" content="{{ settings.title }}">
<meta name="og:title" content="{{ settings.title }}"/>
<meta name="og:type" content="website"/>
<meta name="og:url" content="https://www.{{ settings.title }}"/>
<meta name="og:image" content="{{ background.image_url }}"/>
<meta name="og:site_name" content="{{ settings.title }}"/>
<meta name="og:description"
          content="{{ settings.description }}"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@{{ settings.title }}"/>
<meta name="twitter:creator" content="@{{ config.APP_NAME }}"/>
<meta property="og:url" content="https://www.{{ config.APP_NAME }}"/>
<meta property="og:title" content="{{ settings.title }}"/>
<meta property="og:description"
          content="{{ settings.description }}"/>
<meta property="og:image" content="{{ background.image_url }}"/>
{% endif %}




<link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-2.0.0.min.js') }}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{{ url_for('static', filename='fonts/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{{ url_for('static', filename='css/ui.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>


{% if settings.google_analytics_id %}
{{settings.google_analytics_id |safe}}
{% endif %}
{% if settings.other_tracking_analytics_one %}
{{settings.other_tracking_analytics_one | safe}}
{% endif %}
{% if settings.other_tracking_analytics_two %}
{{settings.other_tracking_analytics_two | safe}}
{% endif %}

{% if settings.other_tracking_analytics_three %}
{{settings.other_tracking_analytics_three | safe}}
{% endif %}

{% if settings.other_tracking_analytics_four %}
{{settings.other_tracking_analytics_four | safe}}
{% endif %}


<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>


<header class="section-header">
{{ header.header_macro(current_user, website_settings) }}
<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-6">
		<a href="{{url_for('marketplace.index')}}" class="brand-wrap">
			<img class="logo" src="{{ logo.image_url }}">
		</a> <!-- brand-wrap.// -->
	</div>
	<div class="col-lg-6 col-12 col-sm-12">
		<form action="{{ url_for('main.search', query=0) }}">
			<div class="input-group w-100">
				{{ form.query(class_="form-control") }}
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
			</div>
		</form>
	</div> <!-- col.// -->
	<div class="col-lg-4 col-sm-6 col-12">
		<div class="widgets-wrap float-md-right">
			<div class="widget-header  mr-3">
				<a href="{{url_for('marketplace.cart')}}" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
				<span class="badge badge-pill badge-danger notify">0</span>
			</div>
			<div class="widget-header icontext">
				<a href="{{url_for('account.profile')}}" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
				<div class="text">
					<span class="text-muted">Welcome!</span>
					{% if current_user.is_authenticated %}
					<div> 
						{{ current_user.full_name }} |
						<a href="{{url_for('account.logout')}}">Log out</a> 
					</div>
					{% else %}
					<div> 
						<a href="{{url_for('account.login')}}">Sign in</a> |  
						<a href="{{url_for('account.register')}}"> Register</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div> <!-- widgets-wrap.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
      	<li class="nav-item dropdown">
          <a class="nav-link pl-0" data-toggle="dropdown" href="#"><strong> <i class="fa fa-bars"></i> &nbsp  All category</strong></a>
        </li>
		{% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('marketplace.category', category_id=category.id, category_name=category.name ) }}">{{category.name}}</a>
        </li>
		{% endfor %}
      </ul>
    </div> <!-- collapse .// -->
  </div> <!-- container .// -->
</nav>

</header> <!-- section-header.// -->



<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

{% if background %}
<div class="intro-banner-wrap">
	<img src="{{ background.image_url}}" class="img-fluid rounded">
</div>
{% endif %}
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

{% if features %}
<!-- ========================= SECTION FEATURE ========================= -->
<section class="section-content padding-y-sm">
<div class="container">
<article class="card card-body">
<div class="row">
{% for feature in features %}
	<div class="col-md-4">	
		<figure class="item-feature">
			<span class="text-primary"><i class="fa fa-2x fa-{{ feature.icon}}"></i></span>
			<figcaption class="pt-3">
				<h5 class="title">{{ feature.title}}</h5>
				<p>{{ feature.description }} </p>
			</figcaption>
		</figure> <!-- iconbox // -->
	</div><!-- col // -->
{% endfor %}
</div>
</article>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION FEATURE END// ========================= -->
{% endif %}


<!-- ========================= SECTION  ========================= -->
<section class="section-name">
  <div class="container">

    <header class="section-heading">
      <!-- <a href="#" class="btn btn-outline-primary float-right">See all</a> -->
      <h3 class="section-title">Featured products</h3>
    </header>
    <div class="row">
      {% for product in featured_products %}
        <div class="col-md-3">
          {{ products_macros.custom_product(product) }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name">
  <div class="container">

    <header class="section-heading">
      <!-- <a href="#" class="btn btn-outline-primary float-right">See all</a> -->
      <h3 class="section-title">New arrived</h3>
    </header>
    <div class="row">
      {% for product in new_arrived_products %}
        <div class="col-md-3">
          {{ products_macros.custom_product(product) }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
  <!-- ========================= SECTION  END// ========================= -->
{% if brands %}
<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y-sm">
	<div class="container">
		<header class="section-heading">
			<h3 class="section-title">Our Brands</h3>
		</header><!-- sect-heading -->
		
		<div class="row">
			{% for brand in brands %}
				{{ brand_macros.brand_wid(brand) }}
			{% endfor %}
		</div> <!-- row.// -->
	</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
{% endif %}


<!-- ========================= SECTION  ========================= -->
<!---<section class="section-name padding-y">
<div class="container">

<h3 class="mb-3">Download app demo text</h3>

<a href="#"><img src="images/misc/appstore.png" height="40"></a>
<a href="#"><img src="images/misc/appstore.png" height="40"></a>

</div><!-- container // -->
<!--</section>---->
<!-- ========================= SECTION  END// ======================= -->

{{ footer.footer_macro(current_user, website_settings) }}



</body>
</html>